.project
.settings
html/target
html/target/
html/.project
html/.settings
html/.classpath
java/target
java/target/
java/.project
java/.settings
java/.classpath
core/target
core/target/
core/.project
core/.settings
core/.classpath
android/target
android/target/
android/.project
android/.settings
android/.classpath
